* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fa7921;
}

/* Navbar */

#navbar {
  display: grid;
  margin: auto;
  width: 75%;
  padding: 30px 0;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.nav-item {
  color: var(--primary-color);
  padding: 15px;
  text-decoration: none;
  list-style: none;
}

/* Hero */
#hero {
  background-color: var(--primary-color);
  width: 100%;
  height: 400px;
  max-height: 400px;
}
